name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: action Test
      id: action-test
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: action Test
        setup-command: ''
        command: bash /test/run.sj
        timeout: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        ACTION-TEST_RESULTS: "${{steps.action-test.outputs.result}}"
      with:
        runners: action-test
